<%= form_with model:@post,local:true do |f| %>
<%#= render 'layouts/errors', obj: @book %>

  <div class="container py-3">
    <div>
    <%= f.label :title %>
    </div>
    <%= f.text_field :title %>
  </div>
  <div class="container">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <div class="container">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Show', post_path(@post) %>